<div class="wrapper">
    <div class="row mb-30">
        <div class="col-md-2"><b>Article Id:</b> {{articleData?.article_id}}</div>
        <div class="col-md-6 center-title"><b>Title:</b> {{articleData?.title}}</div>
        <div class="col-md-2"><b>Published year:</b> {{articleData?.year}}</div>
        <div class="col-md-2"><b>Article Type:</b> {{articleData?.article_type}}</div>
    </div>
    <div class="row mb-30">
        <div class="col-md-12"><b>Body:</b> {{articleData?.body}}</div>
    </div>
    <div class="row mb-30">
        <div class="col-md-12"><b>Article Detail:</b> {{articleData?.article_detail}}</div>
    </div>
</div>